.rotate-arrow {
  transform: rotateZ(90deg);
}

.container-detail {
  width: 85%;
  height: auto;
  margin-left: 7.5%;
  background-color: #fafafa;
  align-items: center;
}

.image-responsive {
  width: 100%;
  height: auto;
}

.overview-container {
  background-color: #30a7d7;
  border-radius: 10;
  color: #fff;
  height: fit-content;
}

.evolution-container {
  background-color: #616161;
  border-radius: 10;
}
